@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    position: relative;
    background-color: #DFDDDD;
}

.dark_mode {
    background-color: #202222;
    color: #d5d5d5;
}

.dark_text {
    color: #202222;
}

.toggle {
    width: 3rem;
    height: auto;
    position: absolute;
    top: 1rem;
    left: 1rem;
    box-shadow:  1px 1px 5px #a19f9f,
             -1px -1px 10px #ffffff;
}

.toggle img {
    width: 60%;
    opacity: 0.5
}

main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.calculator {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 480px;
    padding: 2rem;
    border-radius: 14px;
    box-shadow:  5px 5px 10px #a19f9f,
             -5px -5px 10px #ffffff;
}

h1 {
    font-size: 48px;
    text-decoration-line: underline;
    font-family: 'Zen Dots', cursive;
    margin: 1rem;
    color: #e6e2e2;
    text-shadow: 5px 3px 5px #bbb6b6;
}

.output {
    height: 7rem;
    font-size: 52px;
    padding: 1.5rem;
    background-color: #DFDDDD;
    color: #757070;
    text-align: end;
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: inset 5px 5px 4px #cfcece,
            inset -5px -5px 4px #efecec;      
}

.output_dark {
    height: 7rem;
    font-size: 52px;
    padding: 1.5rem;
    background-color: #202222;
    color: #d5d5d5;
    text-align: end;
    border-radius: 0.5rem;
    box-shadow: inset 5px 5px 4px #cfcece,
            inset -5px -5px 4px #efecec;   
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.first_buttons_row,
.second_buttons_row,
.third_buttons_row,
.fourth_buttons_row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1.5rem;
}

button {
    width: 24%;
    height: 4rem;
    color: #757070;
    font-size: large;
    font-weight: 900;
    border-radius: 14px;
    border: 0px solid white;
    background-color: #dfdddd;
    box-shadow:  5px 5px 10px #a19f9f,
             -5px -5px 10px #ffffff;
}

button:hover {
    scale: 1.03;
}

#clear {
    color: #20c58e;
}

#total {
    background-color: #20c58e;
    border-radius: 14px;
    font-size: x-large;
    color: #ffffff;
    box-shadow:  -5px -5px 10px #1fbd88,
             5px 5px 10px #21cd94;
}

#total:hover {
    scale: 1.03;
}

